<!DOCTYPE html>
<html>
  <head>
    <title>Restaurants</title>
    <link rel ="stylesheet" type = "text/css" href="/styling.css"/>
  </head>
  <body>
    <select name="filterOne">
      <option value=""> -- No Filter -- </option>
    </select>
    <select name="filterTwo">
      <option value=""> -- No Filter -- </option>
    </select>
    <input type="button" value="Apply Filter" id="apply"/>
    <input type="button" value="Clear Filter" id="Clear"/>
    <br>
      <table id = "table">
        <thead>
          <tr>
            <th style="width:30%">Name</th>
            <th style="width:20%">Country</th>
            <th style="width:20%">City</th>
            <th style="width:30%">Cuisine Type</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <div class="block">
      <button class="previous" >Previous</button>
        <p class="rowsDisplay"></p>
        <button class="next">Next</button>
    </div>
        <p>
            <label>Per page: </label>
            <select id="perPage">
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="25">25</option>
                <option value="50">50</option>
            </select>
        </p>
    <script type="text/javascript" src="./main.js"> </script>
  </body>
</html>
