<!DOCTYPE html>
<html>
  <head>
    <title>Restaurants</title>
  </head>
  <body>
    Hello!
    <script type="text/javascript">
      fetch("/restaurantsJson")
      .then(response => response.json())
      .then( results =>{
        console.log(results);
      })
    </script>
  </body>
</html>
