body{
    background-color: #282b2f;
    color: white;
    margin: 1em;
}

#filters{
    margin-bottom: 1em;
}

.rowsDisplay {
    flex: 1;
    justify-content: center;
    display: flex;
}

#perPage {
    margin-top: 1em;
}

.block {
    display: flex;
    flex-wrap: nowrap;
}