body{
    background-color: #212529;
    color: white;
}

/* td, th {
border: 1px solid #dddddd;
text-align: left;
padding: 8px;
}

tr:nth-child(even) {
background-color: #4d4d4d;
} */

.previous {
    justify-self: flex-start;
    flex: 1;
    width:15%;
}
.next {
    justify-self: flex-end;
    flex: 1;
    width:15%;
}
.rowsDisplay {
    justify-self: center;
    flex: 1;
}
.block {
    display: flex;
    flex-wrap: nowrap;
}